@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black
}

body {
    background: url('../imagens/background.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 328px;
    height: 670px;
    background: url('../imagens/telefone.png') no-repeat;
}

iframe {
    border-radius: 40px;
    
}

iframe#tela {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 297px;
    height: 643px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px 20px 10px 0px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 3px solid rgba(255, 255, 255, 0.884);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
    transition: transform 0.4s border 0.8s;
}

@media screen and (max-width: 500px) {
    section#telefone {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
       
    }

    section#redes-sociais img{
        width: 50px;
        margin: 50px 50px 10px 0px;
        
    }
    
}